{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap" rel="stylesheet">
    {% tailwind_css %}
</head>
    <!-- Navigation bar, includes account information -->
    <header class="bg-secondary drop-shadow-lg flex justify-between py-8 px-8 sticky top-0 z-50"> 
        <h1 class="font-bold">bublstore</h1>
        <div class="flex justify-between space-x-10 items-center">
          <!-- display welcome message if logged in, else display login/register -->
          {% if request.user.is_authenticated %}
            <p class="text-xl">Hello, {{request.user}}</p>
            <a class="url" href="{% url 'store:cart' %}">My cart</a>
            <a class="url" href="{% url 'store:logout' %}">Logout</a>
          {% else %}
            <a class="url" href="{% url 'store:login' %}">Login</a>
            <a class="url" href="{% url 'store:register' %}">Register</a>
          {% endif %} 
          <a class="url" href="{% url 'store:index' %}">Home</a>
        </div>
      </header>

    <!-- Default colors for background -->
    <body class="bg-primary"></body>

    <!-- Dolphin buddy for explaining website details as well as llm querying -->
     <footer>
      <div class="fixed left-0 bottom-0 w-full z-10">


          <div class="relative">
            <img class="fixed rotate-[20deg] scale-[0.33] -bottom-56 -right-[42rem] z-10" src={% static 'store/images/dolphin.png' %}>
            <img class="fixed -bottom-96 -right-[18rem] scale-[0.33] transition-all shake" src={% static 'store/images/waves.png' %}>
            <img class="fixed -bottom-96 -right-[30rem] scale-[0.33] transition-all shake z-20" src={% static 'store/images/waves.png' %}>
            <div class="fixed bottom-48 right-24 w-96 h-40">
              <div class="bg-black rounded-lg outline outline-blue-800 -outline-offset-[16px]">
                <p id="response" class="p-6 text-white pixelify-sans-400">WHAT A HORRIBLE NIGHT TO HAVE A CURSE</p> 
                <form method="POST" id="input-form">
                  {% csrf_token %}
                  <input type="text" name="input" id="input" class="z-30 mx-6 mb-6 bg-black text-green-400 pixelify-sans-400 w-2/3 border-none" required>
                  <!-- <button id="query" onclick="cooldown()" name="submit" class="py-5 w-20 bg-dark text-white text-xl rounded-md hover:shadow-xl disabled:bg-red-600/10 disabled:cursor-not-allowed hover:bg-dark/90">Submit</button> -->
                </form>
              </div>
            </div>
          </div>
      </div>
    </footer>
</html>

<!-- Code for preventing redirects with llm entry -->
<script src="https://code.jquery.com/jquery-3.5.1.js" 
integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" 
crossorigin="anonymous"></script> 
<script> 
  $(document).on('submit','#input-form',function(e){ 
    if (canQuery) {
      e.preventDefault(); 
            $.ajax({ 
                type:'POST', 
                url:'query', 
                data: 
                { 
                    input:$("#input").val(), 
                    csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val() 
                }, 
                success:function(response){ 
                    $('#response').html(response);
                        } 
                }) 
    }
      }); 
</script> 

<!-- Script for llm query cooldown -->
<script>
  var canQuery = true;
  var cooldown = function(){
    setTimeout(function(){
      canQuery = false;
    }, 1); // give some time to allow the query to go through 
    setTimeout(function(){
      canQuery = true;
    }, 5000);
  }
</script>

<!-- script to randomize waves animation -->
<script>
  const time = Math.random() * + 10
  const img = document.querySelector('.shake');
  img.style.setProperty('--animation-time', time +'s');
</script>
