{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if request.user.is_authenticated %}
        <title>{{request.user}}'s cart</title>
    {% else %}
        <title>Nobodies cart!</title>
    {% endif %}
    {% tailwind_css %}
</head>
<body>
    {% include "store/header.html" %} 
    {% include "store/base.html" %} 
    <!-- display cart items if logged in, else display login/register  -->
    {% if request.user.is_authenticated %}
        <p>{{request.user}}'s cart</p>
        {% if request.user.is_authenticated %}
            {% if request.user.cart.items.count > 0 %}
                <!-- list all cart items-->
                {% for item in request.user.cart.items.all %}
                    <h1>{{item.name}} - ${{item.cost}} <a href="{% url 'store:remove_cart' item.id %}">Remove from cart?</a> </h1>
                {% endfor %}
                <p>Total: </p><s>${{request.user.cart.total_cost}}</s>
                <p>Discount: NOT_GONNA_MAKE_YOU_INPUT_CREDIT_CARD_DETAILS -100%</p>
            {% else %}
                <p>You don't have any items!</p>
                <a href="{% url 'store:index' %}">Shop for more?</a>
            {% endif %}
        {% endif %}
    {% else %}
        <a href="{% url 'store:login' %}">Login</a>
        <a href="{% url 'store:register' %}">Register</a>
    {% endif %}
</body>
</html> 