{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if request.user.is_authenticated %}
        <title>{{request.user}}'s cart</title>
    {% else %}
        <title>Nobodies cart!</title>
    {% endif %}
    {% tailwind_css %}
</head>
<body>
    {% include "store/header.html" %} 
    {% include "store/base.html" %} 
    <h1 class="m-6">{{request.user}}'s cart</h1>
    <!-- display cart items if logged in, else display login/register  -->
    {% if request.user.is_authenticated %}
        <div class="grid gap-6 m-6 grid-cols-2">
            {% if request.user.cart.items.count > 0 %}
                <!-- list all cart items-->
                <div class="col-span-1">
                    {% for item in request.user.cart.items.all %}
                        <div class="py-2 mb-6 w-full block bg-secondary border rounded-lg shadow-lg">
                            <div class="p-6 flex gap-5">
                                <div class="h-[100px] w-[100px]">
                                    <img src="{{item.image.url}}" class="rounded-lg shadow-md">
                                </div>
                                <div>
                                    <h1 class="text-4xl">{{item.name}}</h1>
                                    <h2 class="text-xl">${{item.cost}}</h2>
                                </div>
                                <a href="{% url 'store:remove_cart' item.id %}" class="absolute right-[52%] m-6 p-3 self-center bg-red-600 rounded-lg text-white hover:shadow-xl hover:bg-red-600/90 transition-all duration-100">Remove from cart?</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div>
                    <div class="col-span-1 h-auto bg-secondary rounded-lg shadow-lg">
                        <div class="p-6">
                            <p class="text-2xl">Subtotal ({{request.user.cart.num_items}} item(s)): ${{request.user.cart.total_cost}}</p>
                            <p class="text-xl">Discount: NOT_GONNA_MAKE_YOU_INPUT_CREDIT_CARD_DETAILS -100%</p>
                            <p class="text-xl">Total: <s>${{request.user.cart.total_cost}}</s> $0</p>
                            <button class="bg-accent p-3 mt-3 rounded-lg hover:shadow-xl hover:bg-accent/90 transition-all duration-100">PLACE ORDER</button>
                        </div>
                    </div>
                </div>
                
            {% else %}
                <p>You don't have any items!</p>
                <a href="{% url 'store:index' %}">Shop for more?</a>
            {% endif %}
        </div>
    {% else %}
        <a href="{% url 'store:login' %}">Login</a>
        <a href="{% url 'store:register' %}">Register</a>
    {% endif %}
</body>
</html> 