{% load static tailwind_tags %}

<head> 
    {% tailwind_css %}
</head> 
<body> 
  <header class="bg-secondary drop-shadow-lg flex justify-between py-8 px-8"> 
    <h1 class="font-bold">bublstore</h1>
    <div class="flex justify-between space-x-10 items-center">
      <!-- display welcome message if logged in, else display login/register -->
      {% if request.user.is_authenticated %}
        <p>Hello, {{request.user}}</p>
        <a class="url" href="{% url 'store:cart' %}">My cart</a>
        <a class="url" href="{% url 'store:logout' %}">Logout</a>
      {% else %}
        <a class="url" href="{% url 'store:login' %}">Login</a>
        <a class="url" href="{% url 'store:register' %}">Register</a>
      {% endif %} 
      <a class="url" href="{% url 'store:index' %}">Home</a>
    </div>
  </header>