{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    {% tailwind_css %}
</head>
<body>
    <!-- display welcome message if logged in, else display login/register  -->
    {% if request.user.is_authenticated %}
        <p>Hello, {{request.user}}</p>
        <a href="{% url 'store:logout' %}">Logout</a>
    {% else %}
        <a href="{% url 'store:login' %}">Login</a>
        <a href="{% url 'store:register' %}">Register</a>
    {% endif %}
    
    <!-- display all items as hyperlinks, else display error -->
    {% if item_list %}
    <ul>
        {% for item in item_list %}
            <li><a href="{% url 'store:detail' item.id %}">{{ item.name }}</a></li> 
        {% endfor %}
    </ul>
    {% else %}
        <p>No items are available.</p>
    {% endif %}
</body>
</html> 