<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{item.name}} - bublstore</title>
</head>
<body>
    <p>Looking at item no. {{item.id}}</p>
    <p>This is {{item.name}}</p>

    <!-- allow user to post review, else display error -->
    {% if request.user.is_authenticated %}
    <form method="post" action={{item.id}}>
        <table>
            {{form}}
        </table>
        {% csrf_token %}
        <button name="submit">Submit</button>
        </form>
    {% else %}
        <p>Login to leave a review!</p>
    {% endif %}

    <!-- list all reviews -->
    {% for review in item.review_set.all %}
    <h1>{{review.title}}</h1>
    <h2>Review by: {{review.user.username}}</h2>
    <p>{{review.content}}</p>
    {% endfor %}

</body>
</html>