<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{item.name}} - bublstore</title>
</head>
<body>
    <p>Looking at item no. {{item.id}} which costs ${{item.cost}}</p>
    <p>This is {{item.name}}</p>
    <p>{{item.description}}</p>
    
    <!-- succesfully left review flash message -->
    {% for message in messages %}
        <p>{{message}}</p>
    {% endfor %}

    <!-- allow user to post review/add to cart if logged in, else display login message -->
    {% if request.user.is_authenticated %}
    {% if item in request.user.cart.items.all %}
        <p>Item in cart!</p>
    {% else %}
        <a href="{% url 'store:add_cart' item.id %}">Add to cart?</a>
    {% endif %}
    <form method="post" action={{item.id}}>
        <table>
            {{form}}
        </table>
        {% csrf_token %}
        <button name="submit">Submit</button>
        </form>
    {% else %}
        <p>Login to leave a review!</p>
    {% endif %}

    <!-- list all reviews -->
    {% for review in item.review_set.all %}
        <h1>{{review.title}}</h1>
        <h2>Review by: {{review.user.username}}</h2>
        <p>{{review.content}}</p>
    {% endfor %}

</body>
</html>