{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bublestore - Login</title>
    {% tailwind_css %}
</head>
<body>
    {% include "store/header.html" %} 
    {% include "store/base.html" %} 
    <div>
        <form method="post">
            {% csrf_token %}
            {{form.username.label}}
            {{form.username}}
            {{form.password.label}}
            {{form.password}}
            {{form.errors}}
            <button type="submit">Log In</button>
        </form>
        {% for message in messages %}
            <p>{{message}}</p>
        {% endfor %}
    </div>
</body>
</html>