@tailwind base; /* h1, p, base classe */
@tailwind components; /* more advanced stuff */
@tailwind utilities; /* external stuff */


@layer base {
    * {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
    }

    h1 {
        font-size: 3rem /* 96px */;
        line-height: 1;
    }

    p {
        @apply text-dark;
    }

    a {
        @apply text-dark;
    }
}

@layer components {
    .url {
        @apply text-xl;
    }

    .url::after {
        @apply bg-dark;
        content:'';
        height: 2px;
        width: 0%;
        display: block;
        bottom: -100px;
        transition: all 0.2s;
        float: right
    }

    .url:hover::after {
        width: 100%;
    }

    .clickable-image {
        @apply transition-all duration-100 scale-x-0;
    }

}